*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Bitcount Single", system-ui;
}

body{
    height: 100%;
    background-color: #caf0f8;
}

h1{
    color: #03045e;
    font-weight: bold;
    background-color: #00b4d8;
    text-align: center;
    padding: 5px;
    box-shadow: 0 5px 10px #023e8a;
}

article{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

button{
    padding: 8px;
    border: none;
    border-radius: 5px;
}

#generate{
    background-color: #588157;
    color: white;
}

#clear{
    background-color: #780000;
    color: white;
}

footer{
    color: #00b4d8;
    background-color: #03045e;
    position: absolute;
    width: 100%;
    bottom: 0;
}

a{
    color: #00b4d8;
}

div{
    margin: 20px;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    font-style: italic;
}